@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-primary-gradient {
        background: #121FCF;
        background: linear-gradient(to right, #1B74FA 0%, #03E5D7 100%);
    }

    .text-primary-gradient {
        background: #121FCF;
        background: linear-gradient(to right, #1B74FA 0%, #03E5D7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text-primary-gradient-tb {
        background: #121FCF;
        background: linear-gradient(to bottom, #1B74FA 0%, #03E5D7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
